<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <title>Doodle Customs</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/CSS/note.css}" />
    <link rel="stylesheet" href="" th:href="@{/CSS/base.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Dongle:wght@300&family=Neonderthaw&family=Open+Sans:wght@300&family=Pacifico&family=Roboto:wght@100&display=swap" rel="stylesheet">
     

</head>
<body>

   <!--Navigation Bar-->
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a th:href="@{/home}">Doodle Custom</a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/founder}">Founders Note</a></li>
        <li><a th:href="@{/design}">Design</a></li>
        <li><a th:href="@{/custom}">Custom</a></li>
        <li><a th:href="@{/artist}">Artists</a></li>
        <li><a th:href="@{/limitedEdition}">Limited Edition</a></li>
        <li><a><i class="fas fa-user-circle"><span th:text="' '+${username}"></span></i></a></li>
        <li><a th:href="@{/cart}"><i class="fas fa-cart-plus"></i>&nbsp(<span th:text="${cartCount}"> 0</span>)</a></li>
        <li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    </div>
  </nav>
 
  <script>
    const body = document.querySelector("body");
    const navbar = document.querySelector(".navbar");
    const menuBtn = document.querySelector(".menu-btn");
    const cancelBtn = document.querySelector(".cancel-btn");
    menuBtn.onclick = ()=>{
      navbar.classList.add("show");
      menuBtn.classList.add("hide");
      body.classList.add("disabled");
    }
    cancelBtn.onclick = ()=>{
      body.classList.remove("disabled");
      navbar.classList.remove("show");
      menuBtn.classList.remove("hide");
    }
    window.onscroll = ()=>{
      this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
    }
  </script>
  
  <br>
  <br>
  <br>
  <br>

<!--Heading-->
<div class="aboutus">
    <h2> Doodle Customs / FAQ</h2>
</div>

<br>
<br>
<br>

<div class="headings">
    <h2>FAQs</h2>
    <br>
    <h3 style="padding-left: 100px;">- From Customers</h3>
</div>

<br>


<div class="para">
    <p>COVID-19 (coronavirus) details

Can I still place orders?
For the health and safety of our community, in regard to the public health emergency, we’ve taken the decision to temporarily halt delivery services until any further information by Nepal Government.
However, you can continue to shop and have your order delivered once we officially launch our site.

I live outside Nepal; can I order for delivery in Nepal?
Currently, Caliber Shoes deliver orders only within Nepal from our portal, so you need to give a Nepalese address along with your contact number for successful delivery of your product.

Do I need an account to place an order?
You don’t need an account to complete an order purchase. However, if you register with us, you can enjoy the following benefits through your Caliber account:

Track your orders and check previous purchases
Request your exchange or return directly from your account
Add items and sold out products to your Caliber Wish List
Save your address and card details so you can shop even more quickly in future.</p>
</div>

<br>
<br>

<div class="headings">
  <h2>How do I place an order on the Doodle Custom website?</h2>
  <br>
</div>

<div class="para">
  <p>It’s the easiest. Here’s how:

Choose a category or design from the top navigation menu or search to explore a specific style or trend.
Select your desired piece and click ‘Add to cart’.
Sign in to your account or, if you’ve not yet created one, proceed via guest checkout.
Enter your address, payment method and delivery details to complete your order. That’s it.
We’ll confirm the order and it will be carefully prepared and delivered to you, with updates every step of the way.</p>
  </div>
  
  <br>
  <br>
  
  <div class="headings">
  <h2>What happens if an item I have ordered runs out of stock?</h2>
  <br>
</div>

<div class="para">
  <p>There are three considerations that can be taken for this:

If the item runs out of stock, it would be labelled the same and the item won’t get added to your wish list. However, if the item goes out of stock after it has been added to your Caliber wish list, but before your check out is completed, you will be informed at the time of check out.
Such items can be added to your cart and we would try our best to provide you with your chosen item at the earliest possible. As soon as your selected item will be available with us, we will notify you for the same so that you can place your order.
If a product goes out of stock after you have placed your order and received an order- confirmation, then, we will try our best to fulfill the supply by sourcing the selected item. In the event that we are unable to source it for you, we will inform you about the unavailability and cancel the item as per your convenience and reverse any charges made to your credit/debit card against that item.</p>
  </div>

<br>
<br>

<div class="headings">
  <h2>Do you have free delivery options?</h2>
  <br>
</div>

<div class="para">
  <p>From time to time, we offer free delivery promotions. To receive email updates about our upcoming promotions, sign up to our mailing list. Please note that free delivery will be applied to your order on the payment page.</p>
  </div>

  <br>
  <br>



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Information</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Testimonials</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Business Policies</h4>
                <ul>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Repair Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a >Address: Jorpati, Kathmandu, Nepal </a></li>
                    <li><a >Phone: (+977) 9803395758</a></li>
                    <li><a >Email: doodlecustoms2019@gmail.com</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>