<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 	<link rel="stylesheet" type="text/css" th:href="@{/CSS/loginandsignup.css}"/>
 	
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
 	
    <title>Sign Up</title>
    
  </head>
  <body>
 		
     
      <div class="container">
       <!-- Display message-->
		<div th:if="${session.message}" class="" Style="width: 100%;">
			<div th:classappend="${'alert-'+session.message.type}" class="alert"
				role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		
         <header>Sign Up</header>
         <form th:action="@{/signup}" method="POST" th:object="${object}">
         
            <div class="input-field">
               <input type="text" name="firstName" required>
               <label>First Name</label>
            </div>
            
             <div class="input-field">
               <input type="text" required name="lastName">
               <label>Last Name</label>
            </div>
            
            <div class="input-field">
               <input type="text" required name="phoneNumber">
               <label>Phone Number</label>
            </div>
            
             <div class="input-field">
               <input type="text" required name="email">
               <label>Email</label>
            </div>
            
            <div class="input-field">
               <input class="pswrd" type="password" required name="password">
               <span class="show">SHOW</span>
               <label>Password</label>
            </div>
               
            <div class="button">
               <div class="inner"></div>
               <button>Register</button>
            </div>
            
         </form>
                 
         <div class="signup">
            Already a member? <a th:href="@{/login}">Login now</a>
         </div>
      </div>
      
      <script>
         var input = document.querySelector('.pswrd');
         var show = document.querySelector('.show');
         show.addEventListener('click', active);
         function active(){
           if(input.type === "password"){
             input.type = "text";
             show.style.color = "#1DA1F2";
             show.textContent = "HIDE";
           }else{
             input.type = "password";
             show.textContent = "SHOW";
             show.style.color = "#111";
           }
         }
      </script>
 
  </body>
</html>
